@import "tailwindcss";

:root {
    --background: #121212;
    --surface: #1e1e1e;
    --foreground: #f5f5f4;
    --muted: #d6d3d1;
    --accent: #bfa181;
    --accent-hover: #e1c16e;
    --border: #27272a;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --surface: #1e1e1e;
        --foreground: #f5f5f4;
        --muted: #d6d3d1;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans bg-[#121212] text-[#f5f5f4];
}
